<div class="container">
  <div class="header">
    <h1>Добро пожаловать</h1>
    <p>Введите данные для регистрации</p>
  </div>

  <form id="authForm" [formGroup]="signUpForm" (submit)="navigateToHomePage()" >

    <div class="form">
      <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" id="login" name = "login" placeholder="Введите логин" formControlName="login"/>
        @if(signUpForm.controls["login"].invalid && signUpForm.controls["login"].touched){
        <div class = "alert">
          Логин не введён
        </div>
        }
      </div>

      <div class="form-group">
        <label for="email">Электронная почта</label>
        <input type="email" id="email" name = "email" placeholder="Введите электронную почту" formControlName="email"/>
        @if (signUpForm.controls["email"].invalid && signUpForm.controls["email"].touched){
          <div class = "alert">
          Электронная почта не введена
          </div>
        }
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Введите пароль" formControlName="password"/>
         @if(signUpForm.controls["password"].invalid && signUpForm.controls["password"].touched){
          <div class = "alert">
            Пароль не введён
          </div>
         }
      </div>
    </div>

    <button [disabled]="!signUpForm.valid" type="submit" class="btn">Зарегистрироваться</button>
    <button type="button" class="btn" (click)="navigateToSignInPage()">У вас уже есть аккаунт? Войдите в него!</button>
  </form>
</div>

