<header class="header">
  <div id="app-name">Канбан Доска</div>
  <button class="header-button" routerLink="/main" routerLinkActive="active">Главная</button>
  <button class="header-button" routerLink="/home/board" routerLinkActive="active">Доска</button>
  <button class="header-button" routerLink="/home/profile" routerLinkActive="active">Профиль</button>
  <button class="header-button" routerLink="/home/feedback" routerLinkActive="active">Обратная связь</button>
  <button class="header-button" (click)="logout()">Выйти</button>
</header>

<router-outlet></router-outlet>
